div {
  background-color: rgba(183, 245, 255, 0.274);
  border: 2px solid aqua;

  border-radius: 10px;
  padding: 30px;
}
img{
  width: 200px;
  border: 3px solid aqua;;
  border-radius: 100%;
}

h3 {
  text-align: left;
}
h2 {
  text-align: center;
  color: red;
}
