.card{
    border: 1px solid red;
    border-radius: 10px;
    padding: 16px;
    margin: 16px;
    background-color: #fee8e8;
}
.cardImg{
    border: 1px solid red;
    border-radius: 10px;
    width: 200px;
}
.cardInfo {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #161616;
}

.name{
    color:red;
}

.bio{
    font-style: italic;
    color:rgb(135, 2, 2)
}